streamlit
numpy
pandas
matplotlib
plotly
pdfplumber
scikit-learn
openai
python-dotenv
pdfminer.six
jinja2
pdfkit
reportlab
PyPDF2
PyMuPDF
Pillow
pyperclip
keyboard
scipy

# Code Editor Requirements
pygments
jedi
python-language-server
docker
pylint
black

# Additional Dependencies
python-multipart
requests


google-generativeai
